NEXT_PUBLIC_API_URL=http://localhost:4000
NEXT_PUBLIC_STELLAR_NETWORK=testnet
NEXT_PUBLIC_STELLAR_RPC_URL=https://soroban-testnet.stellar.org

# Deployed Soroban Contract Addresses
NEXT_PUBLIC_CONFIDENTIAL_TOKEN_CONTRACT=CCC2YY37SVM4BQFFXFR65N4TBQUQZGGETLQGWTFFDX5QQ5RSWRTV63ZY
NEXT_PUBLIC_PAYROLL_CONTRACT=CBHGFLE4GB2LDLPCUTMZMZQ65G355DQ7X4FEK2GTT74B5L55IAVYBT7Q
NEXT_PUBLIC_USDC_CONTRACT=CBIELTK6YBZJU5UP2WWQEUCYKLPU6AUNZ2BQ4WWFEIE3USCIHMXQDAMA
